{"openapi":"3.0.3","info":{"title":"It's a Plan API","description":"REST API for projects, work items, AI agents, Git integrations, analytics, and instance administration.\n\n## Quick start\n\n1. Create a personal API key in [Account settings](https://its.kahub.in/account/api-keys). The key is shown once and carries the same permissions as its owner.\n2. Send it in the `x-api-key` header. Never put a key in a URL, issue, comment, or source file.\n3. In routes containing `{projectKey}`, name the project by its `ref`, `<team>.<KEY>` (e.g. `acme.MKT`). A bare key also works while only one of your teams has a project with it. This page is opened from a project, but the API document is instance-wide.\n\n```sh\ncurl \"https://its-api.kahub.in/projects\" \\\n  --header \"x-api-key: YOUR_PERSONAL_API_KEY\"\n```\n\nJSON errors use `{ \"error\": \"message\" }` and may also include a stable `code`. Pagination parameters and response envelopes are documented per operation.\n\nFor agent clients, use the MCP endpoint at [https://its-api.kahub.in/mcp](https://its-api.kahub.in/mcp). SCIM, worker-internal routes, and repository webhooks use the separate credentials shown on their operations.","version":"1.3.0"},"servers":[{"url":"https://its-api.kahub.in","description":"Configured public API origin"}],"tags":[{"name":"Projects","description":"Projects and the full work items view"},{"name":"Teams","description":"Teams that own projects"},{"name":"Workspaces","description":"Workspaces that own teams, and who manages them"},{"name":"Members","description":"Project membership and roles"},{"name":"Roles","description":"Project roles and their permissions"},{"name":"Invites","description":"Project invites (create, accept, reject)"},{"name":"Columns","description":"Work items columns and their order"},{"name":"Issue Types","description":"Per-project issue types"},{"name":"Labels","description":"Labels and label groups"},{"name":"AI Agents","description":"AI agents attached to a project"},{"name":"Integrations","description":"Stored integration credentials (LLM keys and tool creds)"},{"name":"Agent Skills","description":"Skill library given to internal agents"},{"name":"Agent Runner","description":"Run queue an external agent's runner drains with the agent's API key"},{"name":"Agent Chat","description":"Chat with an external agent: the member's messages and its runner's feed"},{"name":"Agent Tools","description":"Tools configured on a credential and given to agents"},{"name":"Custom Fields","description":"Global and type-scoped custom fields"},{"name":"Issue Templates","description":"Presets a new issue can be created from"},{"name":"Issues","description":"Issues, their fields, feed, and comments"},{"name":"Initiatives","description":"Initiatives (issue groupings) and their activity feed"},{"name":"Cycles","description":"Cycles (time-boxed periods of work) and their issues"},{"name":"Attachments","description":"Issue attachments and raw bytes"},{"name":"Chat attachments","description":"Files uploaded in an agent chat and their raw bytes"},{"name":"Imports","description":"Import drafts that turn an uploaded file into issues"},{"name":"Import/Export","description":"Background jobs that import issues from an external tracker (Plane), and a project's own data exported as a portable JSON snapshot"},{"name":"Avatars","description":"Current user's avatar image (upload and raw bytes)"},{"name":"Views","description":"Saved work items views"},{"name":"Share","description":"Public read-only sharing of issues and views"},{"name":"Actions","description":"Project automation actions"},{"name":"Webhooks","description":"Outgoing webhook subscriptions"},{"name":"Git","description":"Repository integration: the inbound pull request webhook and its per-project settings"},{"name":"Agent Schedules","description":"Recurring tasks for internal agents"},{"name":"Dashboards","description":"Saved analytics dashboards"},{"name":"Documents","description":"Shared project Docs pages"},{"name":"Link previews","description":"Public web link metadata"},{"name":"Note boards","description":"Freeform canvases of sticky notes"},{"name":"Notifications","description":"The session user's inbox notifications"},{"name":"Sync","description":"Change markers a client polls for live refresh"},{"name":"Telegram","description":"The session user's linked Telegram account"},{"name":"Analytics","description":"Project metrics: stats, pulse, throughput, breakdowns, activity"},{"name":"Charts","description":"Chart specs an agent builds to show in a chat"},{"name":"Webhook test","description":"Test receiver for inspecting webhook deliveries (dev aid)"},{"name":"God","description":"Instance administration: registration policy, email provider, sign-in providers, SCIM provisioning"},{"name":"SCIM","description":"SCIM 2.0 provisioning, authenticated with the instance SCIM bearer token"},{"name":"System","description":"Liveness, the current session user, and the instance sign-in policy"}],"components":{"securitySchemes":{"apiKey":{"type":"apiKey","in":"header","name":"x-api-key"},"scimBearer":{"type":"http","scheme":"bearer","bearerFormat":"opaque","description":"Instance SCIM token generated in God mode."},"gitHubSignature":{"type":"apiKey","in":"header","name":"x-hub-signature-256","description":"GitHub HMAC signature generated from the raw request body."},"gitLabToken":{"type":"apiKey","in":"header","name":"x-gitlab-token","description":"GitLab secret token configured on the project webhook."},"giteaSignature":{"type":"apiKey","in":"header","name":"x-gitea-signature","description":"Gitea HMAC signature generated from the raw request body."},"forgejoSignature":{"type":"apiKey","in":"header","name":"x-forgejo-signature","description":"Forgejo HMAC signature generated from the raw request body."},"bitbucketSignature":{"type":"apiKey","in":"header","name":"x-hub-signature","description":"Bitbucket HMAC signature generated from the raw request body."}},"schemas":{}},"security":[{"apiKey":[]}],"paths":{"/me":{"get":{"operationId":"getMe","tags":["System"],"summary":"Get the current session user","description":"Resolve the request credentials to a session and return the user it belongs to. Without a session it answers `{ authenticated: false }` instead of failing.","responses":{"200":{}},"security":[{},{"apiKey":[]}]}},"/auth-config":{"get":{"operationId":"getAuth-config","tags":["System"],"summary":"Get the instance's sign-in configuration","description":"Report the registration policy and the sign-in methods the instance offers, so the sign-in and sign-up screens can render before there is a session. Public.","responses":{"200":{}},"security":[]}},"/":{"get":{"operationId":"getIndex","tags":["System"],"summary":"Check that the api is up","description":"Liveness probe: returns the api name and `status: \"ok\"`.","responses":{"200":{}},"security":[]}},"/webhooks/git/{webhookId}":{"post":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"webhookId","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"handled":{"type":"string"}},"required":["ok","handled"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postWebhooksGitByWebhookId","tags":["Git"],"summary":"Receive a repository webhook","description":"Receive branch, pull request, and CI webhooks from supported repository providers, verify them against the project secret, and update linked issues.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"The provider webhook payload. The exact shape depends on the event."}}}},"security":[{"gitHubSignature":[]},{"gitLabToken":[]},{"giteaSignature":[]},{"forgejoSignature":[]},{"bitbucketSignature":[]}]}},"/webhooks/github/{webhookId}":{"post":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"webhookId","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"ok":{"type":"boolean"},"handled":{"type":"string"}},"required":["ok","handled"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postWebhooksGithubByWebhookId","tags":["Git"],"summary":"Receive a repository webhook","description":"Receive branch, pull request, and CI webhooks from supported repository providers, verify them against the project secret, and update linked issues.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":true,"description":"The provider webhook payload. The exact shape depends on the event."}}}},"security":[{"gitHubSignature":[]},{"gitLabToken":[]},{"giteaSignature":[]},{"forgejoSignature":[]},{"bitbucketSignature":[]}]}},"/scim/v2/ServiceProviderConfig":{"get":{"responses":{"200":{"content":{"application/scim+json":{"schema":{}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2ServiceProviderConfig","tags":["SCIM"],"summary":"Get the SCIM service provider configuration","security":[{"scimBearer":[]}],"description":"Get the SCIM service provider configuration. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/ResourceTypes":{"get":{"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"totalResults":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"startIndex":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"itemsPerPage":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"Resources":{"type":"array","items":{}}},"required":["schemas","totalResults","startIndex","itemsPerPage","Resources"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2ResourceTypes","tags":["SCIM"],"summary":"List the SCIM resource types","security":[{"scimBearer":[]}],"description":"List the SCIM resource types. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/ResourceTypes/{id}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2ResourceTypesById","tags":["SCIM"],"summary":"Get one SCIM resource type","security":[{"scimBearer":[]}],"description":"Get one SCIM resource type. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Schemas":{"get":{"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"totalResults":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"startIndex":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"itemsPerPage":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"Resources":{"type":"array","items":{}}},"required":["schemas","totalResults","startIndex","itemsPerPage","Resources"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2Schemas","tags":["SCIM"],"summary":"List the SCIM schemas","security":[{"scimBearer":[]}],"description":"List the SCIM schemas. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Schemas/{id}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2SchemasById","tags":["SCIM"],"summary":"Get one SCIM schema","security":[{"scimBearer":[]}],"description":"Get one SCIM schema. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Users":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"filter","required":false},{"schema":{"minimum":1,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"type":"number"}]},"in":"query","name":"startIndex","required":false},{"schema":{"minimum":0,"maximum":200,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":0,"maximum":200,"type":"number"}]},"in":"query","name":"count","required":false}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"totalResults":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"startIndex":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"itemsPerPage":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"Resources":{"type":"array","items":{"type":"object","required":["schemas","id","userName","name","displayName","emails","active","meta"],"properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"type":"object","required":["formatted","givenName","familyName"],"properties":{"formatted":{"type":"string"},"givenName":{"type":"string"},"familyName":{"type":"string"}}},"displayName":{"type":"string"},"emails":{"type":"array","items":{"type":"object","required":["value","primary","type"],"properties":{"value":{"type":"string"},"primary":{"type":"boolean"},"type":{"type":"string"}}}},"active":{"type":"boolean"},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}}}}},"required":["schemas","totalResults","startIndex","itemsPerPage","Resources"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2Users","tags":["SCIM"],"summary":"List provisioned users","security":[{"scimBearer":[]}],"description":"List provisioned users. The request and response schemas below are generated from the validation used by the API."},"post":{"parameters":[],"responses":{"201":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"type":"object","required":["formatted","givenName","familyName"],"properties":{"formatted":{"type":"string"},"givenName":{"type":"string"},"familyName":{"type":"string"}}},"displayName":{"type":"string"},"emails":{"type":"array","items":{"type":"object","required":["value","primary","type"],"properties":{"value":{"type":"string"},"primary":{"type":"boolean"},"type":{"type":"string"}}}},"active":{"type":"boolean"},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","userName","name","displayName","emails","active","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"postScimV2Users","tags":["SCIM"],"summary":"Provision a user","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Provision a user. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Users/{id}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"type":"object","required":["formatted","givenName","familyName"],"properties":{"formatted":{"type":"string"},"givenName":{"type":"string"},"familyName":{"type":"string"}}},"displayName":{"type":"string"},"emails":{"type":"array","items":{"type":"object","required":["value","primary","type"],"properties":{"value":{"type":"string"},"primary":{"type":"boolean"},"type":{"type":"string"}}}},"active":{"type":"boolean"},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","userName","name","displayName","emails","active","meta"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2UsersById","tags":["SCIM"],"summary":"Get one provisioned user","security":[{"scimBearer":[]}],"description":"Get one provisioned user. The request and response schemas below are generated from the validation used by the API."},"put":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"type":"object","required":["formatted","givenName","familyName"],"properties":{"formatted":{"type":"string"},"givenName":{"type":"string"},"familyName":{"type":"string"}}},"displayName":{"type":"string"},"emails":{"type":"array","items":{"type":"object","required":["value","primary","type"],"properties":{"value":{"type":"string"},"primary":{"type":"boolean"},"type":{"type":"string"}}}},"active":{"type":"boolean"},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","userName","name","displayName","emails","active","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"putScimV2UsersById","tags":["SCIM"],"summary":"Replace a provisioned user","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Replace a provisioned user. The request and response schemas below are generated from the validation used by the API."},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"userName":{"type":"string"},"name":{"type":"object","required":["formatted","givenName","familyName"],"properties":{"formatted":{"type":"string"},"givenName":{"type":"string"},"familyName":{"type":"string"}}},"displayName":{"type":"string"},"emails":{"type":"array","items":{"type":"object","required":["value","primary","type"],"properties":{"value":{"type":"string"},"primary":{"type":"boolean"},"type":{"type":"string"}}}},"active":{"type":"boolean"},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","userName","name","displayName","emails","active","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"patchScimV2UsersById","tags":["SCIM"],"summary":"Update a provisioned user","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Update a provisioned user. The request and response schemas below are generated from the validation used by the API."},"delete":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"204":{},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"deleteScimV2UsersById","tags":["SCIM"],"summary":"Delete a provisioned user","security":[{"scimBearer":[]}],"description":"Delete a provisioned user. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Groups":{"get":{"parameters":[{"schema":{"type":"string"},"in":"query","name":"filter","required":false},{"schema":{"minimum":1,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"type":"number"}]},"in":"query","name":"startIndex","required":false},{"schema":{"minimum":0,"maximum":200,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":0,"maximum":200,"type":"number"}]},"in":"query","name":"count","required":false}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"totalResults":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"startIndex":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"itemsPerPage":{"anyOf":[{"format":"integer","default":0,"type":"string"},{"type":"integer"}]},"Resources":{"type":"array","items":{"type":"object","required":["schemas","id","displayName","members","meta"],"properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"type":"array","items":{"type":"object","required":["value","display","$ref"],"properties":{"value":{"type":"string"},"display":{"type":"string"},"$ref":{"type":"string"}}}},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}}}}},"required":["schemas","totalResults","startIndex","itemsPerPage","Resources"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2Groups","tags":["SCIM"],"summary":"List provisioned groups","security":[{"scimBearer":[]}],"description":"List provisioned groups. The request and response schemas below are generated from the validation used by the API."},"post":{"parameters":[],"responses":{"201":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"type":"array","items":{"type":"object","required":["value","display","$ref"],"properties":{"value":{"type":"string"},"display":{"type":"string"},"$ref":{"type":"string"}}}},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","displayName","members","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"postScimV2Groups","tags":["SCIM"],"summary":"Provision a group","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Provision a group. The request and response schemas below are generated from the validation used by the API."}},"/scim/v2/Groups/{id}":{"get":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"type":"array","items":{"type":"object","required":["value","display","$ref"],"properties":{"value":{"type":"string"},"display":{"type":"string"},"$ref":{"type":"string"}}}},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","displayName","members","meta"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"getScimV2GroupsById","tags":["SCIM"],"summary":"Get one provisioned group","security":[{"scimBearer":[]}],"description":"Get one provisioned group. The request and response schemas below are generated from the validation used by the API."},"put":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"type":"array","items":{"type":"object","required":["value","display","$ref"],"properties":{"value":{"type":"string"},"display":{"type":"string"},"$ref":{"type":"string"}}}},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","displayName","members","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"putScimV2GroupsById","tags":["SCIM"],"summary":"Replace a provisioned group","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Replace a provisioned group. The request and response schemas below are generated from the validation used by the API."},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"200":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"id":{"type":"string"},"externalId":{"type":"string"},"displayName":{"type":"string"},"members":{"type":"array","items":{"type":"object","required":["value","display","$ref"],"properties":{"value":{"type":"string"},"display":{"type":"string"},"$ref":{"type":"string"}}}},"meta":{"type":"object","required":["resourceType","created","lastModified","location"],"properties":{"resourceType":{"type":"string"},"created":{"type":"string"},"lastModified":{"type":"string"},"location":{"type":"string"}}}},"required":["schemas","id","displayName","members","meta"]}}}},"400":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"409":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"patchScimV2GroupsById","tags":["SCIM"],"summary":"Update a provisioned group","requestBody":{"required":true,"content":{"application/scim+json":{"schema":{}}}},"security":[{"scimBearer":[]}],"description":"Update a provisioned group. The request and response schemas below are generated from the validation used by the API."},"delete":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"id","required":true}],"responses":{"204":{},"401":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}},"404":{"content":{"application/scim+json":{"schema":{"type":"object","properties":{"schemas":{"type":"array","items":{"type":"string"}},"status":{"type":"string"},"scimType":{"type":"string"},"detail":{"type":"string"}},"required":["schemas","status","detail"]}}}}},"operationId":"deleteScimV2GroupsById","tags":["SCIM"],"summary":"Delete a provisioned group","security":[{"scimBearer":[]}],"description":"Delete a provisioned group. The request and response schemas below are generated from the validation used by the API."}},"/projects/{projectKey}/preferences":{"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"isFavorite":{"type":"boolean"},"isHidden":{"type":"boolean"}},"required":["isFavorite","isHidden"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKeyPreferences","tags":["Projects"],"summary":"Update your project preferences","description":"Set isFavorite or isHidden for the authenticated caller. These preferences affect only the caller's project navigation. Hiding keeps the project accessible through the API and MCP, and it remains in list_projects. Other members and agents retain their own preferences and access. Supply at least one preference; omitted fields remain unchanged.","x-mcp":{"tool":"update_project_preferences"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"minProperties":1,"type":"object","properties":{"isFavorite":{"type":"boolean"},"isHidden":{"type":"boolean"}}}}}}}},"/projects":{"get":{"parameters":[{"description":"Case-insensitive literal substring of the project key, name, or description.","schema":{"type":"string"},"in":"query","name":"q","required":false},{"description":"Sort by key (default), name, newest creation, or newest work-item activity/comment. Activity puts projects without activity last. Ties are ordered by key.","schema":{"type":"string","default":"key","enum":["key","name","created","activity"]},"in":"query","name":"sort","required":false},{"description":"Limit results to projects in this team that you belong to.","schema":{"minimum":1,"multipleOf":1,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"multipleOf":1,"description":"Limit results to projects in this team that you belong to.","type":"number"}]},"in":"query","name":"teamId","required":false},{"description":"'true' to include the caller's permission matrix per project.","schema":{"type":"string"},"in":"query","name":"permissions","required":false}],"responses":{"200":{"items":{"type":"object","required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt","role","lastActivityAt","isFavorite","isHidden"],"properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"role":{"anyOf":[{"const":"owner","type":"string"},{"const":"member","type":"string"}]},"lastActivityAt":{"nullable":true,"anyOf":[{"description":"Newest readable work-item activity or comment timestamp, or null.","type":"string"},{"type":"null"}]},"isFavorite":{"description":"Whether you starred this project.","type":"boolean"},"isHidden":{"description":"Whether you hid this project in your navigation. Does not restrict access.","type":"boolean"},"permissions":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","patternProperties":{"^(.*)$":{"type":"boolean"}}}}}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt","role","lastActivityAt","isFavorite","isHidden"],"properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"},"role":{"anyOf":[{"const":"owner","type":"string"},{"const":"member","type":"string"}]},"lastActivityAt":{"nullable":true,"anyOf":[{"description":"Newest readable work-item activity or comment timestamp, or null.","type":"string"},{"type":"null"}]},"isFavorite":{"description":"Whether you starred this project.","type":"boolean"},"isHidden":{"description":"Whether you hid this project in your navigation. Does not restrict access.","type":"boolean"},"permissions":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","patternProperties":{"^(.*)$":{"type":"boolean"}}}}}}}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getProjects","tags":["Projects"],"summary":"List projects","description":"List the projects you are a member of, with their latest work-item activity timestamp. Search key, name, and description with q; filter by teamId; sort by key, name, created, or activity. Pass permissions=true to include your permission matrix on each.","x-mcp":{"tool":"list_projects"}},"post":{"parameters":[],"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}},"required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postProjects","tags":["Projects"],"summary":"Create a project","description":"Create a project you own. `key` is the immutable prefix for issue ids, unique within the team (e.g. 'MKT' -> 'MKT-1'). Seeds the default columns and the issue types of the chosen `preset`.","x-mcp":{"tool":"create_project"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","name"],"properties":{"key":{"pattern":"^[A-Z][A-Z0-9]{0,9}$","description":"Upper-case letters and digits, starting with a letter, up to 10 characters.","type":"string"},"name":{"minLength":1,"type":"string"},"description":{"maxLength":2000,"type":"string"},"preset":{"description":"Issue-type preset: general, software, product, content, marketing, design, sales, operations, support, recruiting.","anyOf":[{"const":"general","type":"string"},{"const":"software","type":"string"},{"const":"product","type":"string"},{"const":"content","type":"string"},{"const":"marketing","type":"string"},{"const":"design","type":"string"},{"const":"sales","type":"string"},{"const":"operations","type":"string"},{"const":"support","type":"string"},{"const":"recruiting","type":"string"}]}},"additionalProperties":false}}}}}},"/projects/{projectKey}/copy":{"post":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}},"required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"409":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postProjectsByProjectKeyCopy","tags":["Projects"],"summary":"Copy a project","description":"Copy a project's configuration into a new project you own, without its issues. Only an owner or a manager of the team that owns the source project may copy it. By default the structure (states, issue types, labels, custom fields, views, dashboards, documents, actions) is copied. Pass `include` to choose sections; the API force-enables dependencies (e.g. a view pulls in the states it references).","x-mcp":{"tool":"copy_project"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","name"],"properties":{"key":{"pattern":"^[A-Z][A-Z0-9]{0,9}$","description":"Upper-case letters and digits, starting with a letter, up to 10 characters.","type":"string"},"name":{"minLength":1,"type":"string"},"description":{"maxLength":2000,"type":"string"},"include":{"type":"object","properties":{"states":{"type":"boolean"},"issueTypes":{"type":"boolean"},"labels":{"type":"boolean"},"customFields":{"type":"boolean"},"views":{"type":"boolean"},"dashboards":{"type":"boolean"},"documents":{"type":"boolean"},"actions":{"type":"boolean"},"configuration":{"type":"boolean"},"webhooks":{"type":"boolean"},"agents":{"type":"boolean"},"schedules":{"type":"boolean"}}}}}}}}}},"/projects/{projectKey}":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"project":{"type":"object","required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt"],"properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}},"additionalProperties":false},"columns":{"type":"array","items":{"type":"object","required":["id","projectId","name","stateType","color","position","wipLimit","wipMode","autoAssignUserId"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"name":{"type":"string"},"stateType":{"type":"string"},"color":{"type":"string"},"position":{"type":"number"},"wipLimit":{"anyOf":[{"type":"number"},{"type":"null"}]},"wipMode":{"type":"string"},"autoAssignUserId":{"anyOf":[{"type":"string"},{"type":"null"}]}}}},"issueTypes":{"type":"array","items":{"type":"object","required":["id","projectId","name","icon","color","isDefault","position"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"name":{"type":"string"},"icon":{"type":"string"},"color":{"type":"string"},"isDefault":{"type":"boolean"},"position":{"type":"number"}}}},"labels":{"type":"array","items":{"type":"object","required":["id","projectId","groupId","name","color"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"groupId":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"color":{"type":"string"}}}},"labelGroups":{"type":"array","items":{"type":"object","required":["id","projectId","name","color"],"properties":{"id":{"type":"number"},"projectId":{"type":"number"},"name":{"type":"string"},"color":{"type":"string"}}}},"assignees":{"type":"array","items":{"type":"object","required":["userId","name","email","username","image","kind","agentKind","restrictedToUserId","canReadWorkItems"],"properties":{"userId":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"username":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"image":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"kind":{"anyOf":[{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"agentKind":{"nullable":true,"anyOf":[{"anyOf":[{"const":"external","type":"string"},{"const":"internal","type":"string"}]},{"type":"null"}]},"restrictedToUserId":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"canReadWorkItems":{"type":"boolean"}}}},"customFields":{"type":"array","items":{"type":"object","required":["id","issueTypeId","name","fieldType","memberScope","showInBody","position","options"],"properties":{"id":{"type":"number"},"issueTypeId":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"name":{"type":"string"},"fieldType":{"anyOf":[{"const":"text","type":"string"},{"const":"markdown","type":"string"},{"const":"url","type":"string"},{"const":"number","type":"string"},{"const":"boolean","type":"string"},{"const":"date","type":"string"},{"const":"datetime","type":"string"},{"const":"datetime_range","type":"string"},{"const":"select","type":"string"},{"const":"multi_select","type":"string"},{"const":"member","type":"string"}]},"memberScope":{"nullable":true,"anyOf":[{"anyOf":[{"const":"all","type":"string"},{"const":"humans","type":"string"},{"const":"agents","type":"string"}]},{"type":"null"}]},"showInBody":{"type":"boolean"},"position":{"type":"number"},"options":{"type":"array","items":{"type":"object","required":["id","value","color","position"],"properties":{"id":{"type":"number"},"value":{"type":"string"},"color":{"type":"string"},"position":{"type":"number"}}}}}}},"issueTemplates":{"type":"array","items":{"type":"object","required":["id","name","description","titleTemplate","descriptionTemplate","typeId","columnId","priority","assigneeUserId","labelIds"],"properties":{"id":{"type":"number"},"name":{"type":"string"},"description":{"type":"string"},"titleTemplate":{"type":"string"},"descriptionTemplate":{"type":"string"},"typeId":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"columnId":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"priority":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"assigneeUserId":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"labelIds":{"type":"array","items":{"type":"number"}}}}},"viewer":{"type":"object","required":["role","teamRole"],"properties":{"role":{"anyOf":[{"const":"owner","type":"string"},{"const":"member","type":"string"}]},"teamRole":{"nullable":true,"anyOf":[{"anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},{"type":"null"}]}}},"permissions":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","patternProperties":{"^(.*)$":{"type":"boolean"}}}}}},"required":["project","columns","issueTypes","labels","labelGroups","assignees","customFields","issueTemplates","viewer","permissions"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getProjectsByProjectKey","tags":["Projects"],"summary":"Get a project","description":"Get a project setup by key: columns, issue types, labels, custom fields, issue templates, and assignable users and agents. Resolves the ids create_issue and update_issue take. For issues use list_issues or search_issues.","x-mcp":{"tool":"get_project"},"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}]},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}},"required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"409":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKey","tags":["Projects"],"summary":"Update a project","description":"Update a project's name and/or description. The description is given to the agents of the project in their system prompt; up to 2000 characters. The key changes only when it does not match the key pattern: a key created before the pattern existed, for example one that starts with a digit. A key that another project of the team has is refused with 409.","x-mcp":{"tool":"update_project"},"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"key":{"pattern":"^[A-Z][A-Z0-9]{0,9}$","description":"Upper-case letters and digits, starting with a letter, up to 10 characters.","type":"string"},"name":{"minLength":1,"type":"string"},"description":{"maxLength":2000,"type":"string"}}}}}}},"delete":{"responses":{"204":{},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"deleteProjectsByProjectKey","tags":["Projects"],"summary":"Delete a project","description":"Permanently delete a project and everything in it. Irreversible.","x-mcp":{"tool":"delete_project"},"x-permission":["danger_zone","delete"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}]}},"/projects/{projectKey}/settings":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"mcpEnabled":{"description":"Whether the team's MCP reach covers this project.","type":"boolean"},"teamMcpEnabled":{"description":"Whether the team is reachable over MCP at all.","type":"boolean"},"features":{"type":"object","required":["initiatives","dashboards","documents","notes","cycles","subtasks","checklists","issueStats"],"properties":{"initiatives":{"type":"boolean"},"dashboards":{"type":"boolean"},"documents":{"type":"boolean"},"notes":{"type":"boolean"},"cycles":{"type":"boolean"},"subtasks":{"type":"boolean"},"checklists":{"type":"boolean"},"issueStats":{"type":"boolean"}}}},"required":["mcpEnabled","teamMcpEnabled","features"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getProjectsByProjectKeySettings","tags":["Projects"],"summary":"Get a project's settings","parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"description":"Get a project's settings. The request and response schemas below are generated from the validation used by the API."},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"mcpEnabled":{"description":"Whether the team's MCP reach covers this project.","type":"boolean"},"teamMcpEnabled":{"description":"Whether the team is reachable over MCP at all.","type":"boolean"},"features":{"type":"object","required":["initiatives","dashboards","documents","notes","cycles","subtasks","checklists","issueStats"],"properties":{"initiatives":{"type":"boolean"},"dashboards":{"type":"boolean"},"documents":{"type":"boolean"},"notes":{"type":"boolean"},"cycles":{"type":"boolean"},"subtasks":{"type":"boolean"},"checklists":{"type":"boolean"},"issueStats":{"type":"boolean"}}}},"required":["mcpEnabled","teamMcpEnabled","features"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKeySettings","tags":["Projects"],"summary":"Update a project's settings","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"features":{"type":"object","properties":{"initiatives":{"type":"boolean"},"dashboards":{"type":"boolean"},"documents":{"type":"boolean"},"notes":{"type":"boolean"},"cycles":{"type":"boolean"},"subtasks":{"type":"boolean"},"checklists":{"type":"boolean"},"issueStats":{"type":"boolean"}}}}}}}},"description":"Update a project's settings. The request and response schemas below are generated from the validation used by the API."}},"/projects/{projectKey}/settings/auto-archive":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"completedDays":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"canceledDays":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["completedDays","canceledDays"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getProjectsByProjectKeySettingsAuto-archive","tags":["Projects"],"summary":"Get a project's auto-archive thresholds","x-permission":["workflow_config","read"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"description":"Get a project's auto-archive thresholds. The request and response schemas below are generated from the validation used by the API."},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"completedDays":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]},"canceledDays":{"nullable":true,"anyOf":[{"type":"number"},{"type":"null"}]}},"required":["completedDays","canceledDays"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKeySettingsAuto-archive","tags":["Projects"],"summary":"Update a project's auto-archive thresholds","x-permission":["workflow_config","edit"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["completedDays","canceledDays"],"properties":{"completedDays":{"nullable":true,"anyOf":[{"minimum":1,"maximum":3650,"anyOf":[{"format":"integer","default":0,"type":"string"},{"minimum":1,"maximum":3650,"type":"integer"}]},{"type":"null"}]},"canceledDays":{"nullable":true,"anyOf":[{"minimum":1,"maximum":3650,"anyOf":[{"format":"integer","default":0,"type":"string"},{"minimum":1,"maximum":3650,"type":"integer"}]},{"type":"null"}]}}}}}},"description":"Update a project's auto-archive thresholds. The request and response schemas below are generated from the validation used by the API."}},"/projects/{projectKey}/settings/subtasks":{"get":{"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"completeParent":{"type":"boolean"},"closeSubtasks":{"type":"boolean"}},"required":["completeParent","closeSubtasks"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getProjectsByProjectKeySettingsSubtasks","tags":["Projects"],"summary":"Get a project's subtask automations","x-permission":["workflow_config","read"],"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"description":"Get a project's subtask automations. The request and response schemas below are generated from the validation used by the API."},"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"completeParent":{"type":"boolean"},"closeSubtasks":{"type":"boolean"}},"required":["completeParent","closeSubtasks"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKeySettingsSubtasks","tags":["Projects"],"summary":"Update a project's subtask automations","x-permission":["workflow_config","edit"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["completeParent","closeSubtasks"],"properties":{"completeParent":{"type":"boolean"},"closeSubtasks":{"type":"boolean"}},"additionalProperties":false}}}},"description":"Update a project's subtask automations. The request and response schemas below are generated from the validation used by the API."}},"/projects/{projectKey}/settings/estimates":{"patch":{"parameters":[{"schema":{"type":"string"},"in":"path","name":"projectKey","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"points":{"type":"boolean"},"time":{"type":"boolean"},"logging":{"type":"boolean"}},"required":["points","time","logging"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchProjectsByProjectKeySettingsEstimates","tags":["Projects"],"summary":"Update a project's estimate kinds and time logging","x-permission":["workflow_config","edit"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["points","time","logging"],"properties":{"points":{"type":"boolean"},"time":{"type":"boolean"},"logging":{"type":"boolean"}}}}}},"description":"Update a project's estimate kinds and time logging. The request and response schemas below are generated from the validation used by the API."}},"/teams":{"get":{"responses":{"200":{"items":{"type":"object","required":["id","workspaceId","name","slug","ref","mcpEnabled","role","source","joinedAt","projectCount","memberCount","ownerCount","roleCount","integrationCount","agentCount","skillCount","toolCount","createdAt"],"properties":{"id":{"type":"number"},"workspaceId":{"type":"number"},"name":{"type":"string"},"slug":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"ref":{"description":"How web URLs name the team: its slug, or its id without one.","type":"string"},"mcpEnabled":{"description":"Whether the team is reachable over MCP. Off closes its own resources and every project it owns.","type":"boolean"},"role":{"description":"Your standing in this team.","anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"How your membership came about. A provisioned one is the identity provider's: you cannot leave the team while it stands.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"joinedAt":{"type":"string"},"projectCount":{"type":"number"},"memberCount":{"type":"number"},"ownerCount":{"description":"How many members are owners; the last one cannot leave.","type":"number"},"roleCount":{"description":"How many roles the team's projects assign from.","type":"number"},"integrationCount":{"description":"How many integration credentials the team holds.","type":"number"},"agentCount":{"description":"How many AI agents the team owns.","type":"number"},"skillCount":{"description":"How many agent skills the team library holds.","type":"number"},"toolCount":{"description":"How many configured tools the team holds.","type":"number"},"createdAt":{"type":"string"}},"additionalProperties":false},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["id","workspaceId","name","slug","ref","mcpEnabled","role","source","joinedAt","projectCount","memberCount","ownerCount","roleCount","integrationCount","agentCount","skillCount","toolCount","createdAt"],"properties":{"id":{"type":"number"},"workspaceId":{"type":"number"},"name":{"type":"string"},"slug":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"ref":{"description":"How web URLs name the team: its slug, or its id without one.","type":"string"},"mcpEnabled":{"description":"Whether the team is reachable over MCP. Off closes its own resources and every project it owns.","type":"boolean"},"role":{"description":"Your standing in this team.","anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"How your membership came about. A provisioned one is the identity provider's: you cannot leave the team while it stands.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"joinedAt":{"type":"string"},"projectCount":{"type":"number"},"memberCount":{"type":"number"},"ownerCount":{"description":"How many members are owners; the last one cannot leave.","type":"number"},"roleCount":{"description":"How many roles the team's projects assign from.","type":"number"},"integrationCount":{"description":"How many integration credentials the team holds.","type":"number"},"agentCount":{"description":"How many AI agents the team owns.","type":"number"},"skillCount":{"description":"How many agent skills the team library holds.","type":"number"},"toolCount":{"description":"How many configured tools the team holds.","type":"number"},"createdAt":{"type":"string"}},"additionalProperties":false}}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getTeams","tags":["Teams"],"summary":"List teams","description":"List the teams you are a member of, with your rank in each. Over MCP, the team is taken from your key when you belong to one; call this to pick a team when a tool asks for a teamId. Only teams with MCP switched on are listed there.","x-mcp":{"tool":"list_teams"}},"post":{"parameters":[],"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"workspaceId":{"type":"number"},"name":{"type":"string"},"slug":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"ref":{"description":"How web URLs name the team: its slug, or its id without one.","type":"string"},"mcpEnabled":{"description":"Whether the team is reachable over MCP. Off closes its own resources and every project it owns.","type":"boolean"},"role":{"description":"Your standing in this team.","anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"How your membership came about. A provisioned one is the identity provider's: you cannot leave the team while it stands.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"joinedAt":{"type":"string"},"projectCount":{"type":"number"},"memberCount":{"type":"number"},"ownerCount":{"description":"How many members are owners; the last one cannot leave.","type":"number"},"roleCount":{"description":"How many roles the team's projects assign from.","type":"number"},"integrationCount":{"description":"How many integration credentials the team holds.","type":"number"},"agentCount":{"description":"How many AI agents the team owns.","type":"number"},"skillCount":{"description":"How many agent skills the team library holds.","type":"number"},"toolCount":{"description":"How many configured tools the team holds.","type":"number"},"createdAt":{"type":"string"}},"required":["id","workspaceId","name","slug","ref","mcpEnabled","role","source","joinedAt","projectCount","memberCount","ownerCount","roleCount","integrationCount","agentCount","skillCount","toolCount","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"409":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postTeams","tags":["Teams"],"summary":"Create a team","description":"Create a team in a workspace and become its owner. Only the workspace owner can.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name","slug"],"properties":{"name":{"minLength":1,"maxLength":60,"type":"string"},"slug":{"pattern":"^[a-z][a-z0-9-]{0,38}[a-z0-9]$","description":"The team's segment in web URLs: lower-case letters, digits and hyphens, starting with a letter, 2 to 40 characters.","type":"string"},"workspaceId":{"minimum":1,"description":"The workspace that holds the team. A self-hosted instance has one, which is the default.","anyOf":[{"format":"integer","default":0,"type":"string"},{"minimum":1,"description":"The workspace that holds the team. A self-hosted instance has one, which is the default.","type":"integer"}]}},"additionalProperties":false}}}}}},"/teams/{teamId}":{"get":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"workspaceId":{"type":"number"},"name":{"type":"string"},"slug":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"ref":{"description":"How web URLs name the team: its slug, or its id without one.","type":"string"},"mcpEnabled":{"description":"Whether the team is reachable over MCP. Off closes its own resources and every project it owns.","type":"boolean"},"role":{"description":"Your standing in this team.","anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"How your membership came about. A provisioned one is the identity provider's: you cannot leave the team while it stands.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"joinedAt":{"type":"string"},"projectCount":{"type":"number"},"memberCount":{"type":"number"},"ownerCount":{"description":"How many members are owners; the last one cannot leave.","type":"number"},"roleCount":{"description":"How many roles the team's projects assign from.","type":"number"},"integrationCount":{"description":"How many integration credentials the team holds.","type":"number"},"agentCount":{"description":"How many AI agents the team owns.","type":"number"},"skillCount":{"description":"How many agent skills the team library holds.","type":"number"},"toolCount":{"description":"How many configured tools the team holds.","type":"number"},"createdAt":{"type":"string"},"permissions":{"type":"object","patternProperties":{"^(.*)$":{"type":"object","patternProperties":{"^(.*)$":{"type":"boolean"}}}}},"leads":{"description":"The people who run the team, owners first.","type":"array","items":{"type":"object","required":["userId","name","email","image","role"],"properties":{"userId":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"image":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"}]}}}}},"required":["id","workspaceId","name","slug","ref","mcpEnabled","role","source","joinedAt","projectCount","memberCount","ownerCount","roleCount","integrationCount","agentCount","skillCount","toolCount","createdAt","permissions","leads"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getTeamsByTeamId","tags":["Teams"],"summary":"Get a team","description":"A team, with how many projects, members, roles and integration credentials it holds, and what you may do with them. Its members and its projects are listed by their own routes."},"patch":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"workspaceId":{"type":"number"},"name":{"type":"string"},"slug":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"ref":{"description":"How web URLs name the team: its slug, or its id without one.","type":"string"},"mcpEnabled":{"description":"Whether the team is reachable over MCP. Off closes its own resources and every project it owns.","type":"boolean"},"role":{"description":"Your standing in this team.","anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"How your membership came about. A provisioned one is the identity provider's: you cannot leave the team while it stands.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"joinedAt":{"type":"string"},"projectCount":{"type":"number"},"memberCount":{"type":"number"},"ownerCount":{"description":"How many members are owners; the last one cannot leave.","type":"number"},"roleCount":{"description":"How many roles the team's projects assign from.","type":"number"},"integrationCount":{"description":"How many integration credentials the team holds.","type":"number"},"agentCount":{"description":"How many AI agents the team owns.","type":"number"},"skillCount":{"description":"How many agent skills the team library holds.","type":"number"},"toolCount":{"description":"How many configured tools the team holds.","type":"number"},"createdAt":{"type":"string"}},"required":["id","workspaceId","name","slug","ref","mcpEnabled","role","source","joinedAt","projectCount","memberCount","ownerCount","roleCount","integrationCount","agentCount","skillCount","toolCount","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"409":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"patchTeamsByTeamId","tags":["Teams"],"summary":"Update a team","description":"Rename a team you own, or set the slug its web URLs use.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"minLength":1,"maxLength":60,"type":"string"},"slug":{"pattern":"^[a-z][a-z0-9-]{0,38}[a-z0-9]$","description":"The team's segment in web URLs: lower-case letters, digits and hyphens, starting with a letter, 2 to 40 characters.","type":"string"}}}}}}}},"/teams/{teamId}/members":{"get":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true},{"description":"Matches the name, the address or the handle.","schema":{"type":"string"},"in":"query","name":"search","required":false},{"description":"Everyone, the people, or the AI agents' bot users. Defaults to everyone.","schema":{"type":"string","default":"all","enum":["all","human","agent"]},"in":"query","name":"kind","required":false},{"description":"1-based page. Default 1.","schema":{"minimum":1,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"description":"1-based page. Default 1.","type":"number"}]},"in":"query","name":"page","required":false},{"description":"Items per page (1-100). Default 25.","schema":{"minimum":1,"maximum":100,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"maximum":100,"description":"Items per page (1-100). Default 25.","type":"number"}]},"in":"query","name":"pageSize","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","required":["userId","name","email","image","role","source","agentId","username","joinedAt"],"properties":{"userId":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"},"image":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"role":{"anyOf":[{"const":"owner","type":"string"},{"const":"manager","type":"string"},{"const":"member","type":"string"},{"const":"agent","type":"string"}]},"source":{"description":"A provisioned membership is the identity provider's and is not removed here.","anyOf":[{"const":"invite","type":"string"},{"const":"scim","type":"string"}]},"agentId":{"nullable":true,"anyOf":[{"description":"The AI agent this bot user backs.","type":"number"},{"type":"null"}]},"username":{"nullable":true,"anyOf":[{"description":"An agent's mention handle.","type":"string"},{"type":"null"}]},"joinedAt":{"type":"string"}}}},"total":{"type":"number"},"page":{"type":"number"},"pageSize":{"type":"number"}},"required":["items","total","page","pageSize"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getTeamsByTeamIdMembers","tags":["Teams"],"summary":"List team members","description":"One page of the members of a team you belong to, by name. `search` matches the name, the address or the handle, and `kind` narrows the list to the people or to the AI agents."}},"/teams/{teamId}/projects":{"get":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true},{"description":"Matches the key or the name.","schema":{"type":"string"},"in":"query","name":"search","required":false},{"description":"1-based page. Default 1.","schema":{"minimum":1,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"description":"1-based page. Default 1.","type":"number"}]},"in":"query","name":"page","required":false},{"description":"Items per page (1-100). Default 25.","schema":{"minimum":1,"maximum":100,"anyOf":[{"format":"numeric","default":0,"type":"string"},{"minimum":1,"maximum":100,"description":"Items per page (1-100). Default 25.","type":"number"}]},"in":"query","name":"pageSize","required":false}],"responses":{"200":{"content":{"application/json":{"schema":{"type":"object","properties":{"items":{"type":"array","items":{"type":"object","required":["id","key","ref","name","description","mcpEnabled","memberCount","owners","isMember","archivedAt","createdAt"],"properties":{"id":{"type":"number"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes name the project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"description":"Whether the team's MCP reach covers this project.","type":"boolean"},"memberCount":{"type":"number"},"owners":{"description":"The project members who own it.","type":"array","items":{"type":"object","required":["userId","name","image"],"properties":{"userId":{"type":"string"},"name":{"type":"string"},"image":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]}}}},"isMember":{"type":"boolean"},"archivedAt":{"nullable":true,"anyOf":[{"type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}}}},"total":{"type":"number"},"page":{"type":"number"},"pageSize":{"type":"number"}},"required":["items","total","page","pageSize"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"getTeamsByTeamIdProjects","tags":["Teams"],"summary":"List team projects","description":"One page of the projects a team owns, by key. `search` matches the key or the name. An owner or a manager sees them all; anyone else only the ones they belong to."},"post":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true}],"responses":{"201":{"content":{"application/json":{"schema":{"type":"object","properties":{"id":{"type":"number"},"teamId":{"type":"number"},"teamName":{"type":"string"},"teamRef":{"description":"The team's slug, or its id while it has none.","type":"string"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes containing {projectKey} name this project.","type":"string"},"name":{"type":"string"},"description":{"type":"string"},"mcpEnabled":{"type":"boolean"},"teamMcpEnabled":{"type":"boolean"},"initiativesEnabled":{"type":"boolean"},"dashboardsEnabled":{"type":"boolean"},"documentsEnabled":{"type":"boolean"},"notesEnabled":{"type":"boolean"},"cyclesEnabled":{"type":"boolean"},"subtasksEnabled":{"type":"boolean"},"checklistsEnabled":{"type":"boolean"},"issueStatsEnabled":{"type":"boolean"},"pointsEstimateEnabled":{"type":"boolean"},"timeEstimateEnabled":{"type":"boolean"},"timeLoggingEnabled":{"type":"boolean"},"availableFeatures":{"type":"array","items":{"default":"dashboards","type":"string","enum":["dashboards","initiatives","cycles","documents","notes","subtasks","checklists","issueStats"]}},"archivedAt":{"nullable":true,"anyOf":[{"description":"When the project was archived, or null while it is active.","type":"string"},{"type":"null"}]},"createdAt":{"type":"string"}},"required":["id","teamId","teamName","teamRef","key","ref","name","description","mcpEnabled","teamMcpEnabled","initiativesEnabled","dashboardsEnabled","documentsEnabled","notesEnabled","cyclesEnabled","subtasksEnabled","checklistsEnabled","issueStatsEnabled","pointsEstimateEnabled","timeEstimateEnabled","timeLoggingEnabled","availableFeatures","archivedAt","createdAt"]}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}},"409":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string"},"code":{"type":"string"}},"required":["error"]}}}}},"operationId":"postTeamsByTeamIdProjects","tags":["Teams"],"summary":"Create a project in a team","description":"Create a project the team owns and become its owner. Takes the same body as create_project, which creates in the team you own.","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["key","name"],"properties":{"key":{"pattern":"^[A-Z][A-Z0-9]{0,9}$","description":"Upper-case letters and digits, starting with a letter, up to 10 characters.","type":"string"},"name":{"minLength":1,"type":"string"},"description":{"maxLength":2000,"type":"string"},"preset":{"description":"Issue-type preset: general, software, product, content, marketing, design, sales, operations, support, recruiting.","anyOf":[{"const":"general","type":"string"},{"const":"software","type":"string"},{"const":"product","type":"string"},{"const":"content","type":"string"},{"const":"marketing","type":"string"},{"const":"design","type":"string"},{"const":"sales","type":"string"},{"const":"operations","type":"string"},{"const":"support","type":"string"},{"const":"recruiting","type":"string"}]}},"additionalProperties":false}}}}}},"/teams/{teamId}/projects/options":{"get":{"parameters":[{"schema":{"anyOf":[{"format":"numeric","default":0,"type":"string"},{"type":"number"}]},"in":"path","name":"teamId","required":true}],"responses":{"200":{"items":{"type":"object","required":["id","key","ref","name","mcpEnabled"],"properties":{"id":{"type":"number"},"key":{"type":"string"},"ref":{"description":"'<teamRef>.<key>': how routes name the project.","type":"string"},"name":{"type":"string"},"mcpEnabled":{"type":"boolean"}}},"content":{"application/json":{"schema":{"type":"array","items":{"type":"object","required":["id","key","ref","name","mcpEnabled"],"properties":{"id":{"type":"number"},"key":{"type":"string"},"ref":
[...]
